* {
    margin: 0px;
    font-family: tahoma;
}

html, body{
    height: 100%;
}

body{
    position: absolute;
}

main{
    height: auto;
    width: 100%;
    padding: 5px;
    padding-bottom: 80px;
    padding-top: 170px;
    clear: both;
    background-color: #0D1117;
}

main h2, main h3{
    text-align: center;
    margin: 3px auto;
    color:#f5f6fc;
}

main section {
    width: 90%;
    height: 460px;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    margin: 10px auto 35px auto!important;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

main section img{
    margin: 40px 0px 40px 40px;
    max-height: 90%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px #000;
    border-right:1px solid #999;
    border-radius: 15px 15px 15px 15px;
}

main section img:hover{
    transition: all;
    transition-delay: 100ms;
    transition-duration: 500ms;
    transform: scale(1.2,1.2);
    z-index: 10;
}

main section p{
    text-align: justify;
    padding: 50px 25px 80px 5px!important;
    border-right:1px solid #999;
    font-size: 16px;
    line-height: 24px;
    color: #f5f6fc;
}

main p {
    text-align: center;
}

i{
    float: left;
    margin: 15px;
    width: 20px;
}

.fab{
    color: rgb(49, 61, 238);
}
